
<% if false %>
    <form action="/users/<%=@user.id%>" method="POST" accept-charset="UTF-8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <label for="">Username:</label>
        <input type="text" name="user[username]" value=<%=@user.username%>><br><br>
        <label for="" name="">Email:</label>
        <input type="text" name="user[email]" value=<%=@user.email%>><br><br>
        <label for="" name="">Password</label>
        <input type="password" name="user[password]"><br><br>
        <input type="submit" value="Guardar Cambios">
    </form>
<% end %>

<% if false %>
    <%= form_tag('/users/'+@user.id.to_s) do %>
        <input type="hidden" name="_method" value="patch"
        <%= label_tag('username') %>
        <%= text_field_tag('user[username]') %><br><br>
        <%= label_tag('email') %>
        <%= text_field_tag('user[email]') %><br><br>
        <%= label_tag('password') %>
        <%= password_field_tag('user[password]') %><br><br>
        <%= submit_tag "Guardar Cambios" %>
    <% end %>
<% end %>

<% if true %>
    <%= form_for @user do |f| %>
        <%= f.label :username, "Your Username"%>
        <%= f.text_field :username, placeholder: "user33" %><br><br>
        <%= f.label :email, "Email"%>
        <%= f.text_field :email, placeholder: "user@email.com" %><br><br>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password%><br><br>
        <%= f.submit "Guardar Cambios" %>
    <% end %>
<% end %>